body {
    display: flex;
    justify-content: center;
    align-items: center;
  padding:0;
    overflow: hidden;
}
.container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    display: flex;
    flex-direction: column; /* Add this to stack flex items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding-left: 10%;
      padding-right: 10%;
    overflow: hidden;
}
.container.loaded {
    opacity: 1;
}
.container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: .5em 0;
  padding: 0;
}
.container p {
    color: white;
    opacity: 0;
   font-family: 'Marcellus', serif;
    transition: opacity 1s ease-in-out 0.5s;
    font-size: 6vw;
    margin: 0; /* Set margin to 0 */
    padding: 0; /* Set padding to 0 */
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.container p.loaded {
    opacity: 1;
}
@media (orientation: portrait) {
    .container p {
        font-size: 7vh;
    }
}
.names{
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 3vw;
}